{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">BluCart!</h1>
      <p>BluCart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by vikas jaiswal in 201*, the company initially focused on electronic items sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}